<ul class="nav nav-pills">
  <% @categories.each do |category| %>
    <li class="<%= params[:category_id] == category.kid ? "active" : "" %>">
      <% if type == "follow" %>
        <%= link_to(category.name, "/products/follow/#{category.kid}") %>
      <% else %>
        <%= link_to(category.name, category_products_path(category.kid)) %>
      <% end %>
    </li>
  <% end %>
</ul>
