<!-- footer -->
<div id='footer'>
  <div id='footer_main'>
    <div class='fr'>
    </div>
    <div>
      <strong>by <a class='dark' href='http://weibo.com/2627097635' target="_blank">myliang</a></strong>
      <!-- &nbsp;&nbsp;|&nbsp;&nbsp; 
      <strong><a class='dark' href='/faq'>FAQ</a></strong>
      &nbsp;&nbsp;|&nbsp;&nbsp; -->
    </div>
    <!--div class='sep10'></div>
    <div class='col_fade'>
    </div-->
  </div>
</div>
