<form method="get" action="<%= search_products_path %>" class="navbar-search pull-left">
  <input type="text" name="q" value="<%= params[:q] %>" class="search-query" placeholder="<%= t("keyword.search") %>"/>
</form>
