<div class="alert alert-block w400"><!-- alert-error | alert-success | alert-info | alert-block -->
  <a class="close" data-dismiss="alert">×</a>
  <strong>Oh snap!</strong>
  Change a few things up and try submitting again.
</div>
