<div class="alert alert-block w400" id="navbar-top-loading" 
  style="display: <%= flash[:notice] ? "block" : "none" %>"><!-- alert-error | alert-success | alert-info | alert-block -->
  <a class="close" data-dismiss="alert">×</a>
  <strong><%= flash[:notice] %></strong>
</div>

