<div class="alert alert-block w400" id="navbar-top-loading"><!-- alert-error | alert-success | alert-info | alert-block -->
  <a class="close" data-dismiss="alert">×</a>
  <strong>Oh snap!</strong>
</div>
