<%= render :partial => "/partials/categories" %>
<table class="table table-unhead">
  <tbody id="w-box-contents">
    <%= render @products %>
  </tbody>
  <tfoot>
    <%= render :partial => "/partials/more" %>
  </tfoot>
</table>

<script type="text/javascript">
  $(function(){
    $m.bind_scroll_bottom(function(){
      $_product.more();  
    });
  });
  var $_product = {
    more: function(){
      var slf = this;
      <% if url == "default_url" %>
      $_page.more(function(html){ return html; });  
      <% else %>
      $_page.more("<%= url %>", function(html){ return html; });  
      <% end %>
    },
    follow: function(slf, kid){
      var txt = $(slf).text();
      if(txt == '..') return ;
      $(slf).text('..');

      var params = {product_id: kid};
      var isAdd = $(slf).hasClass('button-add');
      if(isAdd)
        params['type'] = "add";
      else
        params['type'] = "remove";

      $m.post('/users/follow', params, function(){ 
        if(isAdd){
          $(slf).removeClass('button-add');
          $(slf).addClass('button-remove');
          $(slf).text('-'); 
        }else{
          $(slf).removeClass('button-remove');
          $(slf).addClass('button-add');
          $(slf).text('+');
        }
      });
    }
  };
</script>
