<%= render :partial => "/partials/categories", :locals => {:type => type} %>
<table class="table table-unhead">
  <tbody id="w-box-contents">
    <%= render @products %>
  </tbody>
</table>

<script type="text/javascript">
  $(function(){
    $m.bind_scroll_bottom(function(){
      $_product.more();  
    });
  });
  var $_product = {
    more: function(){
      var slf = this;
      <% if url == "default_url" %>
      $_page.more(function(html){ return html; });  
      <% else %>
      $_page.more("<%= url %>", function(html){ return html; });  
      <% end %>
    },
    follow: function(slf, id, type){
      var txt = $(slf).text();
      if(txt == '..') return ;
      $(slf).text('..');

      var params = {product_id: id, type: type};

      $m.post('/users/follow', params, function(){ 
        if(txt == '+'){
          $(slf).text('-'); 
        }else{
          $(slf).text('+');
        }
      });
    }
  };
</script>
