<div class="item">
  <a href="javascript:void(0);">
    <%= image_tag %>
  </a>
  <div class="iteminfo">
    <div class="feedname">
      <a href="javascript:void(0);">title Intel</a>
    </div>
    <div class="graytext">已有1000人关注</div>
    <div class="suboperate">
      <a class="left button_green_s" href="javascript:void(0);">关注</a>
    </div>
  </div>
</div>
